# Dependencies
/node_modules
/projects/*/node_modules

# Build outputs
/dist
/out-tsc
/bazel-out

# Testing
/coverage
/.nyc_output
*.log

# IDEs
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db

# Firebase
.firebase
firebase-debug.log
firestore-debug.log

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment
.env
.env.local
/.angular/
