/* You can add global styles to this file, and also import other bigGraphStylesJSON files */
.ui-widget {
  font-size: 10px !important;
}

.ui-inputtext {
  font-size: 10px !important;
}

.ui-fieldset {
  background-color: rgba(250, 240, 230, .3) !important;
}

.max-button-width .ui-button {
  width: 100%;
}

